.header {
    position: fixed; 
    display: flex;
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top:0px;
    left:0px;
    width: 100%;
    height:auto;
    padding:10px;   
}

div.header{
    background-color: rgba(241, 235, 235, 0);
    color: rgba(255, 254, 254, 0.568);
    animation-name: fadeOut;
    animation-duration: 1.5s;

}

div.header:hover{
    background-color: rgba(255, 255, 255, 0.733);
    color:black;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.title{
    display: flex;
    flex-direction:column;
    align-items: center;
    max-height: 60px;
    border-top: 0px;
}

.controls{
    pointer-events: none;
    margin-top: 10%;
}

.datainputwrapper{  
    display: flex;
    flex-direction:row;
    width:auto;
    margin-left: auto;
    margin-right: 5%;
}

.dataInputWrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width:max-content;
    height: 100%;

}

.dataInput {
    display: flex;
    flex-direction:row;
    height: 100%;
}

.formInput {
    height: 40;
}

#coord {
    position: absolute;
	bottom: 5%;
    left: 30%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: azure;
}

#newCoord{
    position: absolute;
	bottom: 10%;
    left: 30%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: azure;
}


body {
    margin: 0px;
    overflow: hidden;
}

input[type="number"] {
    background-color: bisque;
    height: 25;
    width: 50;
    align-self: center;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.288);
}

input[type="button"] {
    background-color: lightgray;
    height: 25;
    width: auto;
    align-self: center;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-left: 5px;
}

p {
    font-size: larger;
    padding-left: 5;
    padding-right: 5;
    font-weight: 700;
    margin-right: 10px;

}

h3 {
    font-size: small;
    padding:0px;
    min-height:20px;
    margin-right: 10px;
}



/* Keyframes para a animação de fain e fade out*/
@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0.1; }
    20% { opacity: 0.2; }
    30% { opacity: 0.3; }
    40% { opacity: 0.4; }
    50% { opacity: 0.5; }
    60% { opacity: 0.6; }
    70% { opacity: 0.7; }
    80% { opacity: 0.8; }
    90% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    90% { opacity: 0.9; }
    80% { opacity: 0.8; }
    70% { opacity: 0.7; }
    60% { opacity: 0.6; }
    50% { opacity: 0.5; }
    40% { opacity: 0.4; }
    30% { opacity: 0.3; }
    20% { opacity: 0.2; }
    10% { opacity: 0.1; }
    0% { opacity: 0; }
}
